<header class="flex justify-between items-center border-b-2 lg:px-20 md:px-15 px-5 py-4
        shadow-sm backdrop-blur-sm bg-blue-800 text-white text-lg mb-7">
    <a class="font-semibold hover:text-yellow-400" href="#">HRMS</a>

    <nav class="flex justify-between items-center gap-5">
        <a class="hover:text-yellow-400" href="#">Employees</a>
        <a class="hover:text-yellow-400" href="#">Branches</a>
        <a class="bg-yellow-400 text-slate-700 py-2 px-6 ml-5 hover:text-blue-600 rounded-full" href="#">Login</a>
    </nav>

</header>